$color_1: var(--clr-light);
$color_2: white;
$background-color_1: var(--clr-dark);


/*  My services section  */
.service h3 {
  color: #f8333c
}
.my-services {
	background-color: $background-color_1;
	background-image: url(../img/services-bg.jpg);
	background-size: cover;
	color: $color_1;
	text-align: center;
	position: relative; /* Position relative to contain the pseudo-element */
	
}
.section__title--services {
	color: $color_2;
	position: relative;
	&::after {
		content: '';
		display: block;
		width: 2em;
		height: 1px;
		margin: 0.5em auto 1em;
		background: var(--clr-light);
		opacity: 0.25;
	}
}
.services {
	margin-bottom: 4em;
}
.service {
	max-width: 500px;
	margin: 0 auto;
}
@media (min-width: 800px) {
	.services {
		display: flex;
		max-width: 1000px;
		margin-left: auto;
		margin-right: auto;
	}
	.service+.service {
		margin-left: 2em;
	}
}


.my-services::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 1;
}

.my-services * {
	position: relative;
	z-index: 2;
}
